
<h2>Add Branch for <%= @model.name %></h2>

<%= form_for(@model, url: (@model.class.name == "Institute" ? institute_path(I18n.locale, @model) : store_path(I18n.locale, @model)) ) do |f| %>
	<%= render 'form', :f => f %>

	<%= f.submit %>
<% end %>