<div class="carousel-inner ">
	<% deal_type.deals_within_today(session[:country]).each_with_index do |deal, index| %>
		<div class="item <% if index==0 %>active <% end %> thumbnail">
			<%= link_to(image_tag(deal.image.url(:thumbnail), :class=>"img-responsive sliding_home_image"), data_modal_path(id: deal.id, model: "Deal"), remote: true) %>
		</div>
	<% end %>
</div>
