<div class="carousel-inner ">
	<% deal_type.deals_within_today(session[:country]).each_with_index do |deal, index| %>
		<div class="item <% if index==0 %>active <% end %> thumbnail">
			<%= deal.web_link.present? ? link_to(image_tag(deal.image.url(:thumbnail), :class=>"img-responsive sliding_home_image"), deal.web_link) : (image_tag deal.image.url(:thumbnail), :class=>"img-responsive sliding_home_image") %>
		</div>
	<% end %>
</div>