<div class="carousel-inner ">
	<% cache education_type do %>
		<% education_type.educations_within_today(session[:country]).each_with_index do |education, index| %>
			<div class="item <% if index==0 %>active <% end %> thumbnail">
				<div class="slide_social_share">
					<%= social_share_button_tag(education.title, :url => root_url(locale: I18n.locale, id: education.id, model: education.class)) %>
				</div>
				<%= link_to(image_tag(education.image.url(:medium), :class=>"img-responsive"), data_modal_path(id: education.id, model: "Education"), remote: true) %>
			</div>
		<% end %>
	<% end %>
</div>