<div class="carousel-inner ">
	<% sale_type.sales_within_today.each_with_index do |sale, index| %>
		<div class="item <% if index==0 %>active <% end %> thumbnail">
			<%= sale.web_link.present? ? link_to(image_tag(sale.image.url(:medium), :class=>"img-responsive sliding_home_image"), sale.web_link) : image_tag(sale.image.url(:medium), :class=>"img-responsive sliding_home_image") %>
		</div>
	<% end %>
</div>