<div class="carousel-inner ">
		<% @tutorials.each_with_index do |tutorial, index| %>
			<div class="item <% if index==0 %>active <% end %> thumbnail" >
				<div class="slide_social_share">
					<%= image_tag "fb.png", class: "fb_share", id: "tutorial~#{tutorial.id}~#{tutorial.class}~#{tutorial.title}~#{tutorial.image.url}" %>
					
					<%= social_share_button_tag(tutorial.title, :url => root_url(locale: I18n.locale, id: tutorial.id, model: tutorial.class)) %>
				</div>
				<%= link_to(image_tag(tutorial.image.url(:medium), :class=>"img-responsive sliding_home_image"), data_modal_path(id: tutorial.id, model: "Tutorial"), remote: true) %>
			</div>
		<% end %>
</div>