<div class="carousel-inner ">
		<% @tutorials.each_with_index do |tutorial, index| %>
			<div class="item <% if index==0 %>active <% end %> thumbnail" >
				<%= tutorial.web_link.present? ? link_to(image_tag(tutorial.image.url(:medium), :class=>"img-responsive"), tutorial.web_link) : image_tag(tutorial.image.url(:medium), :class=>"img-responsive") %>
			</div>
		<% end %>
</div>