<% @stores.each do |store| %>
	<div class="col-md-3 store_boxes">
		<%= link_to(image_tag(store.image.url(:thumbnail), :class=>"img-responsive index_box_image"), store)%>	
		<strong class="text_center"><%= store.name %></strong>
	</div>
<% end %>