<div class="col-md-3 store_boxes">
		<%= link_to(image_tag(store.image.url(:medium), :class=>"img-responsive index_box_image"), store_show_path(store, locale: I18n.locale))%>	
		<strong class="text_center"><%= store.name.truncate(20) %></strong>
</div>