<div class="col-md-6" style="margin-bottom:10px;">
	<% cache flyer do %>
  	<%= flyer.web_link.present? ? link_to(image_tag(flyer.image.url, :class=>"img-responsive flyer_image"), flyer.web_link) : image_tag(flyer.image.url, :class=>"img-responsive flyer_image")%>	
  <% end %>
</div>