<h1>Listing Coupon Types</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coupen_types.each do |coupen_type| %>
      <tr>
        <td><%= coupen_type.name %></td>
        <td>
          <%= link_to t(:edit), edit_coupen_type_path(coupen_type, locale: I18n.locale) %>
          <%= link_to t(:destroy), [coupen_type, locale: I18n.locale], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coupon type', new_coupen_type_path(locale: I18n.locale)if @coupen_types.count < 2 %>
