<% @advertisements.each do |advertisement| %>
	<div class="advertisement box col2">
   	  <%= link_to(image_tag(advertisement.image.url(:thumbnail), :class=>"img-responsive index_box_image"), advertisement.web_link)%>	
  	</div>
<% end %>