<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <%= @data.web_link.present? ? link_to(image_tag(@data.image.url, :class=>"modal_image", :id=>"image_data_#{@data.id}"), @data.web_link) : (image_tag @data.image.url, :class=>"modal_image", :id=>"image_data_#{@data.id}") %>
      <br/>
      <br/>
      <div class="row">
        <%#= social_share_button_tag(@data.title, :image => @data.image.url, :'data-type' => 'photo') %>

        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Share</button> -->
        <div class="col-md-4">
          <%= link_to "Print", "#", :class=>"btn btn-default print_me", :id=>"print_data_#{@data.id}" %>
        </div>
        <div class="col-md-8">
          <%= text_field_tag "email", "", :id => "send_email", :placeholder=>"Email whom you want to send this", class: "form-control pull-left", :style=>"width:72%" %>
          <button type="button" class="btn btn-default send_mail">Send Email</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $(".send_mail").click(function(){
      $.ajax({
        type: "post",
        url: "<%= data_emailable_path(id: @data.id, model: @data.class) %>",
        data: {email: $("#send_email").val()},
        dataType: "JSON",
        success: function(data) {
          alert("Mail Successfully sent to "+data.email);
        }
      })
    })
  })
</script>