<% @deals.each_with_index do |deal, index| %>
	<div class="box col2">
    <p>
      <%= link_to(image_tag(deal.image.url(:thumbnail), :class=>"img-responsive index_box_image"), deal.web_link)%>	
    </p>
  </div>
<!-- 	<div class="col-md-3">
		
	</div> -->
<% end %>