/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-datepicker
 *= require token-input-facebook
 *= require token-input
 *= require_tree .
 */

.alert{
	margin-top: -35px;
}

.category_list_header{
	height: 245px;
	overflow-y: scroll;
}

.box{
	background: white !important;
}

h1, h2, h3 {
	text-align: center;
}

.missing_tiny_image{
	height: 50px;
    width: 50px;
}

.error_message{
	color: #FF0000;
    font-size: smaller !important;
}

.small_form{
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.user-upload-preview img{
	height: 100px;
	width: 100px;
	border-radius: 55px;
}

.navbar{
	min-height: 70px !important;
}



ul.token-input-list-facebook{
	width: 100% !important;
}

.white{
	color: white !important;
}

.filter_box{
	border: 1px solid gainsboro;
	padding: 10px;
	background-color: whitesmoke;
}

.load-more-container{
	text-align: center;
}