// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_image{
	border: 1px solid #808080;
    border-radius: 5px;
    width: 80%;
}

.banner_image{
	height: 152px !important;
	width: 100%;
}

.index_box_image{
	height: 200px !important;
	width: 100%;
	margin-bottom: 10px;
}

.home_type_header{
	margin-bottom : 0px;
}

.flyer_image {
	width: 100%  !important; 
	height: 565px  !important;
}



.load { height: 100%; width: 100%; }

.load {
	position : fixed;
	z-index : 1; /* or higher if necessary */
	top : 0;
	left : 0;
	overflow : hidden;
	text-indent : 30%;
	font-size : 0;
	opacity: 0.45;
	display: none;
}

ul.token-input-list{
	width: 100%;
}

.down_arrow{
	width: 20px;
}

.sliding_home_image {
	height: 267px !important;
}

.slide_social_share{
	margin-top: 12px;
	position: absolute;
	width: 95%;
}

.col-md-3.template_box {
    margin: 10px;
    width: 31%;
    border: 1px solid gainsboro;
  }

  .col-md-5.template_box {
    margin: 12px;
    border: 1px solid gainsboro;
    width: 47%;
    height: 133px;
  }

  .template_images_box{
    border: 1px solid gainsboro;
    margin-left: -4px;
    width: 99%;
  }

  .template_images{
    display: none;
  }


  .share_modal div.social-share-button{
  	float: right;
  	margin-top: 1px;
  }