// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_image{
	border: 1px solid #808080;
    border-radius: 5px;
    width: 80%;
}

.banner_image{
	height: 100px !important;
	width: 100%;
}

.deal_adv_image{
	height: 222px !important;
	width: 100%;
}