// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_image{
	border: 1px solid #808080;
    border-radius: 5px;
    width: 80%;
}

.banner_image{
	height: 100px !important;
	width: 100%;
}

.index_box_image{
	height: 200px !important;
	width: 100%;
	margin-bottom: 10px;
}

.thumbnail{
	margin-bottom : 5px;
}



.load { height: 100%; width: 100%; }

.load {
	position : fixed;
	z-index : 1; /* or higher if necessary */
	top : 0;
	left : 0;
	overflow : hidden;
	text-indent : 30%;
	font-size : 0;
	opacity: 0.45;
	display: none;
}

ul.token-input-list{
	width: 100%;
}

.down_arrow{
	width: 20px;
}

.sliding_home_image {
	height: 258px !important;
}