<% @sales.each_with_index do |sale, index| %>
	<div class="box col2">
		<%= link_to(image_tag(sale.image.url(:thumbnail), :class=>"img-responsive index_box_image"), sale.web_link)%>	
	</div>
<% end %>