<div id="footer">
	<div class="container">
		<p class="text-muted">
			<%= t(:footer) %><%= t(:space) %>
		</p>
	</div>
</div>
<ul class="nav pull-right scroll-top">
	<li>
		<a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a>
	</li>
</ul>