<div id="footer">
	<div class="container">
		<p class="text-muted pull-right">
			<%= t(:footer) %><%= t(:space) %>
		</p>
		<h5>
			<%= t(:total_visits) %> : <%= session[:count] %>
		</h5>
	</div>
</div>
<ul class="nav pull-right scroll-top">
	<li>
		<a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a>
	</li>
</ul>